/* 
    Document   : style
    Created on : Oct 8, 2013, 11:28:07 AM
    Author     : Boston Advanced Analytics Inc.
    Description:
        Purpose of the stylesheet follows.
*/
.login_style {
    //background:transparent url(../images/bullet_black16.png) center 0 !important;
    opacity: 0.93 !important;
    background-color: #ffffcc;
}

root { 
    display: block;
}

.home-icon16 {
    background:transparent url(../images/house.png) center 0 no-repeat !important;
}

.bullet_black {
    background:transparent url(../images/bullet_black16.png) center 0 no-repeat !important;
}

.bullet_green {
    background:transparent url(../images/bullet_green16.png) center 0 no-repeat !important;
}

.bullet_red {
    background:transparent url(../images/bullet_red16.png) center 0 no-repeat !important;
}

.permissions-icon16 {
    background:transparent url(../images/application_key16.png) center 0 no-repeat !important;
}

.users-icon16 {
    background:transparent url(../images/user_green.png) center 0 no-repeat !important;
}

.organizations-icon16 {
    background:transparent url(../images/user_green.png) center 0 no-repeat !important;
}

.groups-icon16 {
    background:transparent url(../images/group_link16.png) center 0 no-repeat !important;
}

.roles-icon16 {
    background:transparent url(../images/group_gear16.png) center 0 no-repeat !important;
}
.models-icon16 {
    background:transparent url(../images/application_view_gallery16.png) center 0 no-repeat !important;
}

.organizations-icon16 {
    background:transparent url(../images/sitemap_color16.png) center 0 no-repeat !important;
}


.configurations-icon16 {
    background:transparent url(../images/cog16.png) center 0 no-repeat !important;
}

.processes-icon16 {
    background:transparent url(../images/chart_curve16.png) center 0 no-repeat !important;
}

.logregrs-icon16 {
    background:transparent url(../images/clock_edit16.png) center 0 no-repeat !important;
}

.methods-icon16 {
    background:transparent url(../images/bullet_wrench16.png) center 0 no-repeat !important;
}

.studies-icon16 {
    background:transparent url(../images/folder_page16.png) center 0 no-repeat !important;
}

.edit_params-icon16 {
    background:transparent url(../images/folder_wrench16.png) center 0 no-repeat !important;
}

.clear_params-icon16 {
    background:transparent url(../images/folder_delete16.png) center 0 no-repeat !important;
}

.alerts-icon16 {
    background:transparent url(../images/bell16.png) center 0 no-repeat !important;
}

.notifications-icon16 {
    background:transparent url(../images/note16.png) center 0 no-repeat !important;
}

.eventtemplates-icon16 {
    background:transparent url(../images/basket_error16.png) center 0 no-repeat !important;
}

.events-icon16 {
    background:transparent url(../images/bomb16.png) center 0 no-repeat !important;
}

.study-nextStep-icon16 {
    background:transparent url(../images/resultset_next16.png) center 0 no-repeat !important;
}

.study-previousStep-icon16 {
    background:transparent url(../images/resultset_previous16.png) center 0 no-repeat !important;
}

.password-icon16 {
    background:transparent url(../images/bullet_key16.png) center 0 no-repeat !important;
}

.logout-icon16 {
    background:transparent url(../images/door_out16.png) center 0 no-repeat !important;
}

.pseudo-icon16 {
    background:transparent url(../images/group_go16.png) center 0 no-repeat !important;
}

.save-icon16 {
    background:transparent url(../images/disk16.png) center 0 no-repeat !important;
}

.new-icon16 {
    background:transparent url(../images/page_add16.png) center 0 no-repeat !important;
}

.refresh-icon16 {
    background:transparent url(../images/refresh16.png) center 0 no-repeat !important;
}

.monitor-icon16 {
    background:transparent url(../images/eye16.png) center 0 no-repeat !important;
}

.monitor_on-icon16 {
    background:transparent url(../images/eye_red16.png) center 0 no-repeat !important;
}

.page_link-icon16 {
    background:transparent url(../images/page_link16.png) center 0 no-repeat !important;
}

.delete-icon16 {
    background:transparent url(../images/cross16.png) center 0 no-repeat !important;
}

.recordInfo-icon16 {
    background:transparent url(../images/cog16.png) center 0 no-repeat !important;    
}

.change-icon16 {
    background:transparent url(../images/arrow_rotate_clockwise16.png) center 0 no-repeat !important;
}

.close-icon16 {
    background:transparent url(../images/cross16.png) center 0 no-repeat !important;
}

.add-icon16 {
    background:transparent url(../images/add16.png) center 0 no-repeat !important;
}

.spec-icon16 {
    background:transparent url(../images/table_multiple16.png) center 0 no-repeat !important;
}

.build-icon16 {
    background:transparent url(../images/table_add16.png) center 0 no-repeat !important;
}

.review-icon16 {
    background:transparent url(../images/magnifier16.png) center 0 no-repeat !important;
}

.edit-icon16 {
    background:transparent url(../images/page_edit16.png) center 0 no-repeat !important;
}

.add_new-icon16 {
    background:transparent url(../images/add16.png) center 0 no-repeat !important;
}

.add_new_config-icon16 {
    background:transparent url(../images/cog_add16.png) center 0 no-repeat !important;
}

.pass_reset-icon16 {
    background:transparent url(../images/lock_break16.png) center 0 no-repeat !important;
}

.primary-icon16 {
    background:transparent url(../images/one16.png) center 0 no-repeat !important;
}

.modelbuilder-icon16 {
    background:transparent url(../images/application_form_edit16.png) center 0 no-repeat !important;
}

.cloneModel-icon16 {
    background:transparent url(../images/arrow_divide16.png) center 0 no-repeat !important;
}

.cloneLRF-icon16 {
    background:transparent url(../images/arrow_divide16.png) center 0 no-repeat !important;
}

.cloneStudy-icon16 {
    background:transparent url(../images/arrow_divide16.png) center 0 no-repeat !important;
}

.splitStudy-icon16 {
    background:transparent url(../images/arrow_inout16.png) center 0 no-repeat !important;
}

.study-resetStep-icon16 {
    background:transparent url(../images/anchor16.png) center 0 no-repeat !important;    
}

.filter-icon16 {
    background:transparent url(../images/advanced_filter16.png) center 0 no-repeat !important;
}

.no_filter-icon16 {
    background:transparent url(../images/delete16.png) center 0 no-repeat !important;
}

.assign-icon16 {
    background:transparent url(../images/accept16.png) center 0 no-repeat !important;
}

.define_sql-icon16 {
    background:transparent url(../images/layout_edit16.png) center 0 no-repeat !important;
}

.sql-icon16 {
    background:transparent url(../images/script_code16.png) center 0 no-repeat !important;
}

.verify_sql-icon16 {
    background:transparent url(../images/filter_valid16.png) center 0 no-repeat !important;
}

.initialize-icon16 {
    background:transparent url(../images/information16.png) center 0 no-repeat !important;
}

.exportCSV-icon16 {
    background:transparent url(../images/page_excel16.png) center 0 no-repeat !important;
}

.createDST-icon16 {
    background:transparent url(../images/database_add16.png) center 0 no-repeat !important;
}

.deleteDST-icon16 {
    background:transparent url(../images/database_delete16.png) center 0 no-repeat !important;
}

.generateDST-icon16 {
    background:transparent url(../images/building_go16.png) center 0 no-repeat !important;
}

.tableViewer-icon16 {
    background:transparent url(../images/application_form_magnify16.png) center 0 no-repeat !important;
}

.check_good-icon {
    background:transparent url(../images/verify16.png) center 0 no-repeat !important;
}

.db-icon16 {
    background:transparent url(../images/database16.png) center 0 no-repeat !important;
}

.db_table-icon16 {
    background:transparent url(../images/database_table16.png) center 0 no-repeat !important;
}

.db_view-icon16 {
    background:transparent url(../images/application_view_detail16.png) center 0 no-repeat !important;
}

.add_allstats-icon16 {
    background:transparent url(../images/chart_bar_add16.png) center 0 no-repeat !important;
}

.add_stats-icon16 {
    background:transparent url(../images/chart_pie_add16.png) center 0 no-repeat !important;
}

.show_results-icon16 {
    background:transparent url(../images/chart_bar16.png) center 0 no-repeat !important;
}

.dicho-icon16 {
    background:transparent url(../images/dicho_contrast16.png) right 0 no-repeat !important;
}

.cont-icon16 {
    background:transparent url(../images/rainbow16.png) right 0 no-repeat !important;
}

.enum-icon16 {
    background:transparent url(../images/table_multiple16.png) right 0 no-repeat !important;
}

.date-icon16 {
    background:transparent url(../images/date16.png) right 0 no-repeat !important;
}

.selectAll-icon16 {
    background:transparent url(../images/tick_circle_frame16.png) right 0 no-repeat !important;
}

.importExport-icon16 {
    background:transparent url(../images/database_refresh16.png) right 0 no-repeat !important;
}

.exportModel-icon16 {
    background:transparent url(../images/basket_remove16.png) right 0 no-repeat !important;
}

.importModel-icon16 {
    background:transparent url(../images/basket_put16.png) right 0 no-repeat !important;
}

.study-executeStep-icon16 {
    background:transparent url(../images/lightning_go16.png) right 0 no-repeat !important;
}

.statProxy-getResults-icon16 {
    background:transparent url(../images/application_get16.png) right 0 no-repeat !important;
}

.statProxy-getStatus-icon16 {
    background:transparent url(../images/zoomIn16.png) right 0 no-repeat !important;
}

.padding-img {
    width:18px;
    height:0px;
}

.rowVirtualField  .x-grid-cell{
    color:blue;
}

.rowBold  .x-grid-cell{
    font-weight: bold;
}

.rowAlert  .x-grid-cell{
    color:red;
    background-color: #FFB0C4;    
}

.firstRow  .x-grid-cell{
    font-style: italic;
}

.value-positive .x-value-cell {
    background-color: #99CC00;
}

.value-negative .x-value-cell {
    background-color: #005CB8;
}

.value-null .x-value-cell {
    background-color: #B0FFC5;
}

.x-grid-row .custom-column-blue { 
    background-color: #B2CCFF; 
    font-weight: bold; 
}

.x-grid-row .custom-column-yellow { 
    background-color: yellow; 
    font-weight: bold; 
}

.x-grid-row .custom-column-orange { 
    background-color: orange; 
    font-weight: bold; 
}

.field-used {
    background:transparent url(../images/accept16.png) right 0 no-repeat !important;
}

#centralInfo {
    color: #6699ff; 
    font-size: 400%; 
}

